---
layout: project
title: "Geometris | Ganesh Iyer - Product Design, UX"
excerpt: Keeping elementary school children in mind, we designed Geometris as an attempt to design a different experience of mathematics, one that requires children to use their bodies and to talk to each other in learning basic geometry.
nextProj: SAP - Enterprise Applications
nextURL: /projects/sap-pe.html
---
<div id = "height-bar"></div>
<a id = "go-to-top" href ="#top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
<div id = "fullpage">
  <div class = "section stage-wrap fp-auto-height-responsive">
      {% include pheader.html %}
      <div class = "stage">
        <div class = "stage-img">
          <img src = "{{site.baseurl}}/img/geometris.png" />
        </div>
        <div class = "stage-text">
          <h2 class = "stage-heading">Geometris - Creating an Embodied and Collaborative Game for Children</h2>
          <p class = "baby-hide-text"><span class = "project-field">Summary</span> We strove to create a different experience of mathematics, specifically geometry, for elementary school children.</p>
          <p><span class = "project-special">*</span> This game is a finalist in the upcoming <a href = "https://chi2017.acm.org/gamecompetition.html" target = "_blank">Student Game Design Competition at CHI 2017</a>.</p>
          <p><span class = "project-field">Duration </span>October 2016 - December 2016</p>
          <p class = "baby-hide-text"><span class = "project-field">Team Members </span>
            <a href = "https://www.linkedin.com/in/leah-rosenbaum-9948bb40" target="_blank">Leah Rosenbaum</a> and <a href = "http://best.berkeley.edu/best-people/" target="_blank">Elena Duran Lopez</a>
          </p>
          <p><span class = "project-field">Responsibilities </span>
            <ul>
              <li>Developed the software for the game (Arduino, Processing, Firmata)</li>
              <li>Composed the game music and sound effects</li>
              <li>Strategized the overall game design and dynamics (1/3)</li>
              <li>Assisted in the hardware fabrication and electronics. I also did some stitching!</li>
            </ul>
          </p>
        </div>
      </div>
      <a class = "arrow bounce" href = "#brief"><i class="fa fa-angle-double-down fa-lg"></i></a>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Problem Statement</h2></div>
      <div class = "project-section-text">
        <p>Geometris emerged from our personal motivations to design in the domain of children's education. Our starting point was noting math's reputation as being <span class = "key-term">abstract</span>, <span class = "key-term">solitary</span> and <span class = "key-term">formulaic</span>. When taught through formulas and abstractions alone, math does little to engage young learners.</p>
      </div>
      <div class = "project-section-img">
        <iframe src="https://player.vimeo.com/video/199229129?portrait=0" frameborder="0" width="1080" height ="608" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Approach</h2></div>
      <div class = "project-section-text">
        <p>Our first step was to leverage how geometrical tools like rulers, protractors and compass are conventionally used. This led to the idea of a game where each player would have one type of tool, and by <span class = "key-term">being both empowered and constrained by these tools</span>, the players will collaborate to find a path through an obstacle-ridden virtual environment, envisioned over a coffee table.</p>
      </div>
      <div class = "project-section-img">
        <img src = "{{site.baseurl}}/projects/geometris/01.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-text">
        <p>However on testing this, we started asking - why would the players be motivated to use geometrical tools? How would having the game environment over a coffee-table be of greater value than over paper? Precision as a goal would make it less engaging for children - a direction we did not want to take. Hence, our next fundamental question was- <span class = "key-term">what are other ways children can use to make sense of spatial relationships?</span></p>
      </div>
      <div class = "project-section-img">
        <img src = "{{site.baseurl}}/projects/geometris/02.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-text">
        <p>We grounded our approach in literature review and were encouraged by research that argues that physical movement can be a valuable learning resource to help with spatial visualization and reasoning skills. We then narrowed our problem statement to <span class = "key-term">how children could use their bodies to make mathematics, specifically geometry, less abstract, less solitary and more engaging</span>.</p>
      </div>
      <div class = "project-section-img">
          <img src = "{{site.baseurl}}/projects/geometris/03.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-text">
        <p>We took cues from games like Twister and Dance Dance Revolution (use of bodies to map a spatial relationship), and Tetris (to introduce time-constraints) to design the game structure.</p>
        <p>We used <span class = "key-term">bodystorming</span> to explore key questions about the game dynamics - what does the game need to have for the player to be able to use it and to <em>enjoy</em> using it? What does collaboration or co-operation in this game look like - does it involve the players playing at the same time or is it turn based?</p>
        <p>After bodystorming, we chose to move forward with the former. We hypothesized that playing at the same time offers more opportunities for collaboration as it would require players to negotiate their moves and hence, <span class = "key-term">talk to each other</span>. We also experimented with co-operation where the players on the mat do not see the shape but they are verbally guided by a third participant who instructs but does not form shapes per se. This is part of our current investigations into embodied learning.</p>
      </div>
      <div class = "project-section-img-2">
        <div class = "img-2">
          <iframe src="https://www.youtube.com/embed/_AJjBDMPiYE" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class = "img-2">
          <iframe src="https://www.youtube.com/embed/nQ4EbEhBsTw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Limitations and Gameplay</h2></div>
      <div class = "project-section-text">
        <p>One of the limitations of this project was that we were unable to secure an IRB approval to evaluate this game with children and gain valuable research insights. Our way around this was to use secondary research to guide our design strategy and use a prototype as an inquiry into some of our assumptions. The current gameplay is shown in the video below:</p>
      </div>
      <div class = "project-section-img">
        <iframe src="https://player.vimeo.com/video/199230442?portrait=0" width="1080" height="608" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Key Decisions</h2></div>
      <div class = "project-section-text">
        <p>I used trigonometry to position the 8-points and used an array of 9 digital values <span class = "key-term">to inform how a geometric shape is made in the game</span> and <span class = "key-term">what kind of inputs we obtained from the Arduino</span>. The Arduino was connected to 8 felt pads which each sandwiched foam and aluminum foil to give us 8 digital inputs. On constantly testing the game, we felt the need to make continuous adjustments to the hardware <span class = "image-desc">(bottom left)</span> to avoid it slipping radially outward, for example.</p>
        <p>Another important design decision we had made was to make the touch pad invertible - that is if you turn them inward <span class = "image-desc">(bottom right)</span> the measurements would suit children ages 5-9 to play and the outward orientation would allow adults to enjoy the game as well.</p>
        <p>Using OOP was a particularly worthwhile investment in terms of planning effort because I was able to make significant changes very quickly. One example was when we needed to add a feedback mechanism to inform the players which pads they were touching. Using OOP I was also able to transform the same hardware into a musical instrument in under 5 minutes!</p>
      </div>
      <div class = "project-section-img-2">
        <div class = "img-2">
          <img src = "{{site.baseurl}}/projects/geometris/04.png" />
        </div>
        <div class = "img-2">
          <img src = "{{site.baseurl}}/projects/geometris/05.png" />
        </div>
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Pilot test results</h2></div>
      <div class = "project-section-text">
        <p>We pilot tested the game over two days and in addition to recording our observations, we were able to make significant changes to create control and experiment environments. For instance, on demo day 1, we did not have a visual indicator on screen of which touch pads were being activated (control).</p>
        <p>One key feedback we were looking for was any insight into how intuitive the game interface - both hardware and software - was without any instructions. Our pilot test showed that not having a visual feedback on screen may be a stumbling block to the game being straightforward.</p>
        <p>During the pilot test, paired players paired players expressed themselves more, verbalizing their thinking. Teaching behaviors also emerged in pair play. We witnessed many moves of <span class = "key-term">direct instruction</span> (&ldquo;You touch that one&rdquo;), <span class = "key-term">delegation</span> (&ldquo;You take the top, and I’ll take the bottom&rdquo;), and <span class = "key-term">negotiation</span> (&ldquo;I can’t see.&rdquo; &ldquo;Well I’ll tell you where to go&rdquo;).</p>
      </div>
      <div class = "project-section-img-2">
        <div class = "img-2">
          <img src = "{{site.baseurl}}/projects/geometris/06.png" />
        </div>
        <div class = "img-2">
          <img src = "{{site.baseurl}}/projects/geometris/07.png" />
        </div>
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Insights and Challenges</h2></div>
      <div class = "project-section-text">
        <p>Taking on a design project where <span class = "key-term">iteration and debugging tools are not so straightforward nudged us to improvize our process</span> - which was a refreshing experience. I found making hardware adjustments a lot slower to making UI adjustments and this led us to working in parallel on the various game components. I used mouse clicks instead of inputs from the Arduino while the mat was built. This was particularly a challenge due to the uncertainty of things coming well together in the end.
        </p>
        <p>Developing the software for Geometris was one of my most cherished and cathartic experiences as a designer! Working as a developer with a constant lookout for a better UX allowed me to work from two different perspectives - <span class = "key-term">at an elemental level</span> with basic shape creation logic and <span class = "key-term">at a holistic level</span> with the game flow in mind.
        </p>
        <p>While we did not get children to play the game, I feel that any intervention for this target user base will <span class = "key-term">need to start with &ldquo;safe&rdquo; prototype to have a significant starting point of inquiry</span>. Secondary research can inform the design of a bare bones prototype and the risk of designing without insight-driven iterations could still lead to worthwhile research investigation.
        </p>
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Instructor feedback</h2></div>
      <div class = "project-section-text">
        <blockquote>"Awesome job with the demo! The gameplay was really engaging, the floor pad construction looked great and the interaction with stepping on the circles worked really well! Also the music was really good. Please get this put into a museum or do some studies with children and write a paper about this!"</blockquote>
        <p class = "testimonial-author">- Noura Howell, Teaching assistant for <a href = "https://www.ischool.berkeley.edu/courses/info/262" target="_blank">INFO C262 - Theory and Practice of Tangible User Interfaces</a>, Fall 2016.</p>
      </div>
      <div class = "project-section-heading" id = "last"><h2>Next project</h2></div>
      <div class = "project-section-img-2">
        <div class = "img-next">
          <a href = "{{ site.url }}{{ page.nextURL}}">
            <img src = "{{ site.baseurl }}/img/sap-pe.png" />
          </a>
        </div>
        <div class = "text-next">
          <p><a href = "{{ site.url }}{{ page.nextURL }}">SAP - Enterprise Applications</a></p>
          <p><span class = "project-field">Key aspects</span> Design for legacy systems, analytics platforms/dashboards, design thinking, creating UI and charting libraries</p>
        </div>
      </div>
    </div>
    <div class = "mini-footer baby-hide-div">
      <div class = "footer-logo">
        <img src = "{{site.baseurl}}/img/logo-small.png" />
      </div>
      <div class = "footer-text">
      &copy; Ganesh Iyer 2017.
      </div>
    </div>
  </div>
</div>
<div class = "project-footer baby-show-div">
  {% include footer.html %}
</div>
