---
layout: project
title: "PipPop | Ganesh Iyer - Product Design, UX"
excerpt: This project was where my team of 4 took a very grounded UX-research driven approach to designing an interface that helps users exchange contact information in social settings like meetups or career fairs.
nextProj: Visualizing Betting v Performances in Tennis
nextURL: /projects/tennis.html
---
<div id = "height-bar"></div>
<a id = "go-to-top" href ="#top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
<div id = "fullpage">
  <div class = "section stage-wrap fp-auto-height-responsive">
      {% include pheader.html %}
      <div class = "stage">
        <div class = "stage-img">
          <img src = "{{site.baseurl}}/img/pippop.png" />
        </div>
        <div class = "stage-text">
          <h2 class = "stage-heading">PipPop - Exchanging Contact Information Seamlessly</h2>
          <p class = "baby-hide-text"><span class = "project-field">Summary</span> PipPop is an interface that helps people exchange contact information seamlessly in social and professional contexts.</p>
          <p>This project was also an opportunity to thoroughly explore the user-centered design process in what we thought was an under-explored domain.</p>
          <p><span class = "project-field">Duration </span>September 2015 - December 2016</p>
          <p class = "baby-hide-text"><span class = "project-field">Team Members </span>
            <a href = "https://www.linkedin.com/in/max-curran-2084476b" target="_blank">Max Curran</a>, <a href = "https://www.linkedin.com/in/parvsondhi" target="_blank">Parv Sondhi</a> and <a href = "https://www.linkedin.com/in/surendran-subbiah-2a64524a" target="_blank">Surendran Subbiah</a>
          </p>
          <p><span class = "project-field">Responsibilities </span>
            <ul>
              <li>Created prototypes using Adobe Illustrator, Paper Prototyping and Marvel and led the overall prototyping plans</li>
              <li>Led team on UX and interaction design best practices</li>
              <li>Moderated whiteboard discussions to help align design discussions and testing decisions</li>
              <li>Co-ordinated consistency in UI guidelines and spefications using the iOS Human Interface Guidelines for the final prototype</li>
            </ul>
          </p>
        </div>
      </div>
      <a class = "arrow bounce" href = "#brief"><i class="fa fa-angle-double-down fa-lg"></i></a>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Problem Statement</h2></div>
      <div class = "project-section-text">
        <p>We started by seeing how many users continue to use paper/pen, manually dial numbers or exchange business cards to exchange contact info with those they meet in person. Our contextual inquiries at career fairs and reunions showed that business cards were mostly <span class = "key-term">ineffective</span>, <span class = "key-term">wasteful</span> and <span class = "key-term">unrequited</span>. We also investigated why interventions like Bump, Cardflick, Jiffy et al have not become ubiquitous.</p>
      </div>
      <div class = "project-section-img">
        <img src = "{{site.baseurl}}/projects/pippop/01.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Approach</h2></div>
      <div class = "project-section-text">
        <p>We clustered our findings from the contextial inquiries into similar <span class = "key-term">type</span> of concerns, desires and behaviors. In addition to this we also clustered our findings <span class = "key-term">over space</span> - where the findings happened physically, and <span class = "key-term">over time</span> - when they happened over an interaction timeline. In the latter case, we discovered that <span class ="key-term">users attempted to exchange contacts long after their interaction with someone!</span></p>
      </div>
      <div class = "project-section-img">
        <img src = "{{site.baseurl}}/projects/pippop/02.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-text">
        <p>To explore this further, we tested out the waters through a baseline paper prototype. Using a phone allowed us some obvious value-adds - other social networks that users might be a part of already.</p><p>We deduced that seamlessness may have been a worry for our users during their in-person experiences. So a hypothesis we tried to validate was - <span class = "key-term">is there value in collecting<span class = "project-special">*</span> contact information without taking your phone off your pocket? </span></p>
        <p class = "footnote"><span class = "project-special">*</span> - At the time, the team were aware of concerns related to user security. However, we wanted to use roleplaying as a way to nip this idea in the bud if we needed to.</p>
      </div>
      <div class = "project-section-img">
        <img src = "{{site.baseurl}}/projects/pippop/03.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-text">
        <p>To avoid the app collecting everyone's info as the user passes through a room, we designed a filter to collect only those with whom the user has been <span class = "key-term">close to</span>. From a think aloud activity with a handful of users, we enhanced it to include only those with whom the user has spent a <span class = "key-term">more than x minutes with</span>. For the second iteration, we built a <a href = "https://marvelapp.com/99d5h3/screen/8491027" target="_blank">mid-fidelity prototype on Marvel</a> for use cases like viewing nearby contacts, and understanding what kind of information is visible to these users and is shared with them. Seeing that having two modes of exchanging contacts is worthy of further exploration, we named this idea <span class = "key-term">PipPop (Phone-in-Pocket, Phone-off-Pocket)</span>.</p>
      </div>
      <div class = "project-section-img">
          <img src = "{{site.baseurl}}/projects/pippop/04.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Creating the final prototype</h2></div>
      <div class = "project-section-text">
        <p>For the final prototype, we conducted a heuristic evaluation with other designers in the class and among ourselves to identify key issues. Key among those were the <span class = "key-term">predicted reactions to something new spanning from delight through embarrassment to awkwardness</span> - particularly in cases where users wanted to exercise the option of not sharing their information. Considering that most of the uncertainty was around the newness of the app, easing the lack of match between system and real world also became an important priority.</p>
        <p>To speed up the prototyping process, we created UI resources in Illustrator and used Framer Studio to run through specific use cases. I also created UI specifications, icons and Illustrator templates for others in the team to modify for their own use cases.
        </p>
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Key Decisions + Final Prototype</h2></div>
      <div class = "project-section-text">
        <p>For situations where the user pulls out her phone to exchange contact info, we designed it to display only the single nearest user rather than 3 contacts. If the phone stays in the pocket, we changed it to a list rather than a potentially overwhelming grid. We based our navigation model on how people verbally remembered a meeting; they start with <span class = "key-term">where</span> they met someone. We also added multiple profiles, allowing user to select a default. Owing to the short timeline, the map view, annotations and attachments were deemed out of scope.</p>
      </div>
      <div class = "project-section-img">
          <img src = "{{site.baseurl}}/projects/pippop/06.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Experiment results</h2></div>
      <div class = "project-section-text">
        <p>We tested three activities - exchanging contact information face-to-face, requesting contact information later, and understanding how users interpreted icons to understand visibility of their information. We tested with 10 participants (half control, half treatment). Overall, our prototype performed very well compared with our participant's current methods. Both in-pocket and off-pocket interventions received high qualitative ratings and were performed fast. Admittedly, the experiments were limited in scope and likely did not capture <em>all</em> aspects of the user's experience.
        </p>
      </div>
      <div class = "project-section-img">
          <img src = "{{site.baseurl}}/projects/pippop/07.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Insights and Challenges</h2></div>
      <div class = "project-section-text">
        <p>Affinity diagramming is typically used to cluster similar notes together. In this problem space however, <span class = "key-term">since the nature of interactions can depend so heavily on the social context as well as are transient and precious</span>, grouping the notes by space and time led us to an entirely unexplored region of user interactions.</p>
        <p>To come up with ideas, not only did we play around research methods, but also <span class = "key-term">we modeled a futuristic technology-agnostic scenario in which we imagined a utopian contact exchange scenario</span>. We then extrapolated these ideas backwards to the present day.</p>
        <p>Why the paper prototype was extremely crucial to our process was because despite their tangible similarities with business cards, <span class = "key-term">they were effective enough to simulate new tricky technological features</span> and consequently, to provoke security and ethical concerns.</p>
        <p>While software like Marvel are extremely useful in building clickable prototypes very quickly, I felt it would have been even better <span class = "key-term">if they had a framework for case-switching through multiple cases</span>. I later stumbled upon Proto.io during my summer startup role which was great for case-switching and using variables!</p>
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Instructor feedback</h2></div>
      <div class = "project-section-text">
        <blockquote>"You took on an extremely difficult problem this semester, and I’m impressed with how far you’ve come, and how much you’ve learned about the problem space. I’m also impressed with how thorough your prototype was, and how much effort you put into making the experiment feel realistic."</blockquote>
        <p class = "testimonial-author">- Nick Merrill, Teaching assistant for <a href = "https://www.ischool.berkeley.edu/courses/info/213" target="_blank">INFO 213 - User Interface Design and Development</a>, Fall 2015.</p>
      </div>
      <div class = "project-section-heading" id = "last"><h2>Next project</h2></div>
      <div class = "project-section-img-2">
        <div class = "img-next">
          <a href = "{{ site.url }}{{ page.nextURL}}">
            <img src = "{{ site.baseurl }}/img/tennis.png" />
          </a>
        </div>
        <div class = "text-next">
          <p><a href = "{{ site.url }}{{ page.nextURL }}">Visualizing Betting v Performance Data for Men's Tennis</a></p>
          <p><span class = "project-field">Key aspects</span> Designing new visualizations, aiding discovery through data, short turnover time</p>
        </div>
      </div>
    </div>
    <div class = "mini-footer baby-hide-div">
      <div class = "footer-logo">
        <img src = "{{site.baseurl}}/img/logo-small.png" />
      </div>
      <div class = "footer-text">
      &copy; Ganesh Iyer 2017.
      </div>
    </div>
  </div>
</div>
<div class = "project-footer baby-show-div">
  {% include footer.html %}
</div>
