---
layout: project
title: "SAP Project Execution | Ganesh Iyer - Product Design, UX"
excerpt: I designed various enterprise applications for HCM and the Project Execution Cockpit. Key among these included an analytical dashboard for an HR Administrator as well as a software to manage logistics, scheduling and revenue of a project.
nextProj: PipPop - Exchanging contact information seamlessly
nextURL: /projects/pippop.html
---
<div id = "height-bar"></div>
<a id = "go-to-top" href ="#top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
<div id = "fullpage">
  <div class = "section stage-wrap fp-auto-height-responsive">
      {% include pheader.html %}
      <div class = "stage">
        <div class = "stage-img">
          <img src = "{{site.baseurl}}/img/sap-pe.png" />
        </div>
        <div class = "stage-text">
          <h2 class = "stage-heading">SAP - Project Execution</h2>
          <p class = "baby-hide-text"><span class = "project-field">Summary</span> This product helps a project manager to monitor and manage the scheduling, logistics and cost/revenue components of a project.</p>
          <p><span class = "project-field">Duration </span>February 2013 - April 2014 (last working day)</p>
          <p><span class = "project-field">Resources </span><a href = "http://sapcampaigns.de/suiteonhana/#project-execution" target="_blank">Product Website</a></p>
          <p class = "baby-hide-text"><span class = "project-field">Co-Designer </span>
            <a href = "https://in.linkedin.com/in/aparnakongot" target="_blank">Aparna Kongot</a>
          </p>
          <p><span class = "project-field">Responsibilities </span>
            <ul>
              <li>Translated SAP-system GUIs into responsive web equivalents by fusing new platform potential with product functionalities and objectives in the real world.</li>
              <li>Being one of the early frontrunners in adhering to the newly accepted central UI design guidelines, we formulated UI control requirements based on use-cases relevant to our set of applications. We had also proposed UI solutions that could hold well in other sets of applications that were looking to adhere to this evolving library.</li>
              <li>Provided UI specs as well as tested the final implementations before every release.</li>
              <li>Translated synthesis of customer feedback into proofs of concepts for future releases. </li>
              <li>Actively involved in bug-fixing and raising UI tickets post-release.</li>
            </ul>
          </p>
        </div>
      </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Problem Statement</h2></div>
      <div class = "project-section-text">
        <p>I had designed for 10 applications in the entire Project Execution product family. Some key use cases were - a project manager should be able to have an overview of project progress within one project and across multiple projects, a project manager should be able to view how project milestones have been completed, a project manager should be able to know how delays might affect her project. Shown below is one of our earlier concepts for representing milestones.</p>
      </div>
      <div class = "project-section-img">
        <img src = "{{site.baseurl}}/projects/sap-pe/01.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Approach</h2></div>
      <div class = "project-section-text">
        <p>Our approach drastically changed after the adoption of the <a href = "http://www.sap.com/product/technology-platform/fiori.html" target="_blank">Fiori UI library</a>. While the previous use cases we were handling differed greatly in appearance, adopting Fiori both freed and constrained our approach. Since our product was one of the early adopters of the library, we were able to propose design of new UI elements that could be used across multiple other products. The adherence to the new library however meant that the previously different representations within Product Execution had to be redrawn - for example, <span class = "key-term">how would apps look like if there were allowed only two levels of navigation?</span></p>
      </div>
      <div class = "project-section-img">
        <img src = "{{site.baseurl}}/projects/sap-pe/02.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-text">
        <p>My co-designer and I constantly aligned with each other and with other early adopters to make sure that most UI controls have enough flexibility to fit into multiple use cases with little engineering effort. This required us to also be in sync with the engineering team. Another challenge was also to improvize using other existing controls when the proposed UI elements despite critical were not feasible. In the mockup below, we contributed to additional modifications to the bar chart controls.</p>
      </div>
      <div class = "project-section-img">
        <img src = "{{site.baseurl}}/projects/sap-pe/03.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Design Thinking</h2></div>
      <div class = "project-section-text">
        <p>In parallel to our design efforts, our team also conducted a Design Thinking exercise to bring together the whole team to a common understanding. My co-designer was involved with interviewing stakeholders in Germany while I led the synthesis of the insights from the Bangalore office. We mapped various issues using affinity diagramming, clustering based on which part of the project lifecycle did they occur in.</p>
      </div>
      <div class = "project-section-img">
        <img src = "{{site.baseurl}}/projects/sap-pe/04.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Mockups</h2></div>
      <div class = "project-section-text">
        <p>The redesign into Fiori also gave us an opportunity to rethink business requirements - does it allow us to add or <span class = "key-term">take away</span> features if necessary? For example concept of defaults that I introduced below worked well both in the new UI patterns as well as fulfilled an unexpressed business need.</p>
      </div>
      <div class = "project-section-img">
          <img src = "{{site.baseurl}}/projects/sap-pe/05.png" />
      </div>

    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-text">
        <p>In the situation below, I had to make the case for new controls such as a trend analysis chart. This required modifications to the existing line chart library so that it allowed changing the orientation of the axes, allowing tooltips to responsively align themselves since there are likely scenarios of more than 30 milestones in one chart, and also bearing visual similarities to conventional MTA charts.</p>
      </div>
      <div class = "project-section-img">
          <img src = "{{site.baseurl}}/projects/sap-pe/06.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-text">
        <p>Finally, as a result of the design thinking exercise conducted, I had come up with a proof-of-concept that allows a project manager to foresee serious delays in future because of trivial unavailability of resources in the present.
        </p>
      </div>
      <div class = "project-section-img">
          <img src = "{{site.baseurl}}/projects/sap-pe/07.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Insights and Challenges</h2></div>
      <div class = "project-section-text">
        <p>The synthesis stage of the Design Thinking was a very efficient platform to bring together visions of the product from the perspectives of managers, developers, architects and product owners and how they would have done things differently.
        </p>
        <p>Despite its long development lifecycle, my teammate and I worked in an intensive agile work environment owing to radical UI changes, while, at the same time designing for future releases that incorporate customer feedback. This was a major source of design dilemmas.
        </p>
        <p>At times, it was difficult to understand if a user’s acceptance of terminologies and models from an old interface was considered relevant to retain in a newer design. While newer interpretations on paper could have been better, this was not established through user-testing.
        </p>
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Product owner feedback</h2></div>
      <div class = "project-section-text">
        <blockquote>"Ganesh has proven his ability to quickly understand the business context and use case and to turn rather fuzzy ideas and requirements into concrete and well structured ideas for visualisation and navigation. He made sure to focus on simplicity and usability without dropping any of the mandatory features. Ganesh took full responsibility for his tasks and work while staying an agile team player at the same time."</blockquote>
        <p class = "testimonial-author">- Harry Lube, Chief Product Owner of <a href = "http://sapcampaigns.de/suiteonhana/#project-execution" target="_blank">SAP Project Execution</a>.</p>
      </div>
      <div class = "project-section-heading" id = "last"><h2>Next project</h2></div>
      <div class = "project-section-img-2">
        <div class = "img-next">
          <a href = "{{ site.url }}{{ page.nextURL}}">
            <img src = "{{ site.baseurl }}/img/pippop.png" />
          </a>
        </div>
        <div class = "text-next">
          <p><a href = "{{ site.url }}{{ page.nextURL }}">{{ page.nextProj }}</a></p>
          <p><span class = "project-field">Key aspects</span> Designing to break precedent, user security and privacy, multi-modal interactions</p>
        </div>
      </div>
    </div>
    <div class = "mini-footer baby-hide-div">
      <div class = "footer-logo">
        <img src = "{{site.baseurl}}/img/logo-small.png" />
      </div>
      <div class = "footer-text">
      &copy; Ganesh Iyer 2017.
      </div>
    </div>
  </div>
</div>
<div class = "project-footer baby-show-div">
  {% include footer.html %}
</div>
