---
layout: project
title: "Tennis Player Comparisons | Ganesh Iyer - Product Design, UX"
excerpt: In this project, we designed and prototyped a proof-of-concept for a visualization that allows for comparison between how male tennis players performed on the court and how they were expected to perform.
nextProj: Geometris - Creating an embodied and collaborative game for children
nextURL: /projects/geometris.html
---
<div id = "height-bar"></div>
<a id = "go-to-top" href ="#top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
<div id = "fullpage">
  <div class = "section stage-wrap fp-auto-height-responsive">
      {% include pheader.html %}
      <div class = "stage">
        <div class = "stage-img">
          <img src = "{{site.baseurl}}/img/tennis.png" />
        </div>
        <div class = "stage-text">
          <h2 class = "stage-heading">Visualizing Betting v Performance Data in Mens' Tennis</h2>
          <p class = "baby-hide-text"><span class = "project-field">Summary</span> Through this design we narrate stories through a visualization that maps <em>what was predicted to happen on the court</em> (betting) to <em>what happened on the court</em> (performances).</p>
          <p><span class = "project-field">Duration </span>April 2016 - May 2016</p>
          <p><span class = "project-field">Resources </span><a href = "http://pitan.hu/info247-final/" target="_blank">Website</a>, <a href = "http://courses.ischool.berkeley.edu/i247/s16/reports/tenniscomparison.pdf" target="_blank">Report</a>, <a href = "http://tennis-data.co.uk/alldata.php" target="_blank">Dataset</a></p>
          <p class = "baby-hide-text"><span class = "project-field">Team Members </span>
            <a href = "https://www.linkedin.com/in/pitanhu" target="_blank">Pi-Tan Hu</a> and <a href = "https://www.linkedin.com/in/owenhsiao" target="_blank">Owen Hsiao</a>
          </p>
          <p><span class = "project-field">Responsibilities </span>
            <ul>
              <li>I sketched out visualization concepts, used Illustrator to detail them out as wireframes and also designed and coded the front-end UI elements like tabs, headers, etc. that housed the charts.</li>
              <li>I explored the data to map common patterns to ideate potential solutions. The concept of the unit chart came from such explorations.</li>
              <li>I also tested out the efficacy of the unit charts by presenting variations of the unit chart to different users.</li>
            </ul>
          </p>
        </div>
      </div>
      <a class = "arrow bounce" href = "#brief"><i class="fa fa-angle-double-down fa-lg"></i></a>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Problem Statement</h2></div>
      <div class = "project-section-text">
        <p>Performance and betting data for Men’s tennis are readily available. But there were not enough visualizations bringing those two narratives together. Specifically, the <span class = "key-term">data representing betting odds was not in a format that could be readily consumed by even a lay tennis enthusiast</span>. For this purpose, I tried to sketch various combinations trying to bring those two narratives together.</p>
      </div>
      <div class = "project-section-img">
        <img src = "{{site.baseurl}}/projects/tennis/01.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Approach</h2></div>
      <div class = "project-section-text">
        <p>The betting data was in the form of ratios that indicate how much the better would win or lose depending on the result. Higher ratios pointed to more unlikely results. This needed further cognitive processing to understand who is more favored to win a particular match. The design must start from the <span class = "key-term">key question</span> that the narrative must answer. Hence, we transformed ‘How much am I going to win if Player A wins?’ to ‘How much likely do bookies think Player A is going to win?’.</p>
      </div>
      <div class = "project-section-img">
        <img src = "{{site.baseurl}}/projects/tennis/02.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-text">
        <p>This reframing led to newer questions. Does winning favorability change with the type of playing surface? Is Federer expected to fare better on hard courts against Djokovic than he does in grass courts? Does the chosen player have an arch rival - one player they always struggle against? Is it possible to code an upset - the phenomenon that a player is expected to lose but still wins - through data?</p>
        <p>My hypothesis through these questions was that <span class = "key-term">if data for an entire match could be coded in a small and simple representation</span>, it could then be reused for all matches and also progressively tell stories at other levels. Did the player defy all odds after suffering a horrendous injury in 2012? The key challenge here was to also convey both result and predicted result using this device. Reusability became key not just to represent matches but also prowess across a time period!</p>
      </div>
      <div class = "project-section-img">
        <img src = "{{site.baseurl}}/projects/tennis/03.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-text">
        <p>Owing to the extremely short timeline, the three of us had to be really nimble with the process. Once we finalized our approach of using unit charts, there were many times where we were making data, design and development decisions at the same time. While we did not fix an approach from the word go, it looked very similar to the diagram below.
        </p>
      </div>
      <div class = "project-section-img">
          <img src = "{{site.baseurl}}/projects/tennis/04.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Wireframe</h2></div>
      <div class = "project-section-text">
        <p>While we were unable to develop all the features entailed by the wireframe, this was an important process in the design of the visualization because we were able to organize our charts that told interesting stories at each step. Within a unit chart, we show variations in confidence by various betting companies. Across a row of unit charts, we see how overall confidence in that player rises or falls. Across multiple rows, we see variations in confidence for that player in that Grand Slam year and if that confidence was justified.
        </p>
      </div>

      <div class = "project-section-img">
          <div class = "img-animation" style="height: 0px; position: relative; padding-bottom: 56.250%;"><iframe src="//streamable.com/e/686g5" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen scrolling="no" style="width: 100%; height: 100%; position: absolute;"></iframe><script async  src="//v.streamablemedia.com/v1/embed.js"></script></div>
      </div>

    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Key Decisions</h2></div>
      <div class = "project-section-text">
        <p>While we were extremely keen on users being able to discover interesting trends through our interface, we were also wary of going down a feature-heavy rabbit hole. We did include exploratory tools such as a filter panel where the user can filter the charts by year, by a specific opponent and also set an upset threshold. The upset threshold is that likelihood of winning where a player given lower odds than the threshold still wins. Below our summary charts, we also allowed users to filter by surface.
        </p>
        <p>We included explorations for one player's performance against all opponents faced during the selected time period in addition to a specific player-v-player combination. Also, we added default images for those not in the top 20 because of paucity of time.
        </p>
      </div>
      <div class = "project-section-img">
          <img src = "{{site.baseurl}}/projects/tennis/06.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Screenshots</h2></div>
      <div class = "project-section-img">
          <img src = "{{site.baseurl}}/projects/tennis/07.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-img">
          <img src = "{{site.baseurl}}/projects/tennis/08.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Testing and Showcase Feedback</h2></div>
      <div class = "project-section-text">
        <p>To evaluate the efficacy of the unit chart, I printed out multiple representations of the chart by varying positions, stroke, transparency, color etc. I then tested each permutation with users and discovered that having the chance of winning for the player was more effective if the bars started from the bottom. 7 out of 10 users guessed that the horizontal bar below the chart the surface of the court.
        </p>
        <p>During our showcase, we found that as the odds for a player dropped in a particular tournament round, the user hovered over the chart curious to know what exactly happened. When we asked users about what they would like to see more, they said things along the lines of ‘Federer went out in the 3rd round of the Australian Open? That’s impossible! How did it happen?’.</p>
      </div>
      <div class = "project-section-img">
          <img src = "{{site.baseurl}}/projects/tennis/09.png" />
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap fp-auto-height-responsive">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Insights and Challenges</h2></div>
      <div class = "project-section-text">
        <p>Creating and discovering new data scenarios/questions is a key component of the process of designing new visualizations. In this project, I sketched visual elements on paper, translated them into Illustrator or Sketch and tested them for effectiveness in communication. I reused this same starting point during my internship to design a wide variety of dashboard representations.
        </p>
        <p>To decide scope of data is an acquired skill. By focusing more on an optimally sized dataset, it became possible to explore the data in greater visual breadth and in the end we were able to create a representation that can be transposed to Women’s tennis or even other sports!
        </p>
        <p>Using Gestalt Laws at different view layers can enable a drastic transformation of commonplace visual representations like bar charts that can then tell a different story at each layer.
        </p>
      </div>
    </div>
  </div>
  <div class = "section project-section-wrap">
    <div class = "project-section">
      <div class = "project-section-heading"><h2>Instructor feedback</h2></div>
      <div class = "project-section-text">
        <blockquote>"You did an amazing job with the implementation of the betting interface! I appreciate that you did some paper prototyping and testing, and that you also did some evaluating during the showcase. Overall, the design is quite powerful, but still usable, and allows users to experiment with combinations of information that I don’t think can be seen other places. Overall, this is a terrific project. Great teamwork too."</blockquote>
        <p class = "testimonial-author">- Marti Hearst, Head Instructor for <a href = "https://www.ischool.berkeley.edu/courses/info/247" target="_blank">INFO 247 - Information Visualization and Presentation</a>, Spring 2016 and professor at UC Berkeley School of Information and EECS.</p>
      </div>
      <div class = "project-section-heading" id = "last"><h2>Next project</h2></div>
      <div class = "project-section-img-2">
        <div class = "img-next">
          <a href = "{{ site.url }}{{ page.nextURL}}">
            <img src = "{{ site.baseurl }}/img/geometris.png" />
          </a>
        </div>
        <div class = "text-next">
          <p><a href = "{{ site.url }}{{ page.nextURL }}">{{ page.nextProj }}</a></p>
          <p><span class = "project-field">Key aspects</span> Designing for children, spatial reasoning, tangible user interface, game design, learning through engagement</p>
        </div>
      </div>
    </div>
    <div class = "mini-footer baby-hide-div">
      <div class = "footer-logo">
        <img src = "{{site.baseurl}}/img/logo-small.png" />
      </div>
      <div class = "footer-text">
      &copy; Ganesh Iyer 2017.
      </div>
    </div>
  </div>
</div>
<div class = "project-footer baby-show-div">
  {% include footer.html %}
</div>
