<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Plain Description -->
	<title>{{ page.title }}</title>
	<meta name="description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.tagline}}{% endif %}">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">

	<!-- CSS, JS & fonts -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/app.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" >
	</script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/typed.js" ></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/app.js" ></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/timeline.js" ></script>
	<!-- Put your fonts here -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">
	<link href='{{ site.baseurl }}/fonts/fontawesome-webfont.ttf' rel='stylesheet' type='text/css'>

</head>
