<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <div id = "logo">
      <a href='{{ site.baseurl }}/' class='site-title'>
        <span class = 'first-name'>{{site.first-name}}</span><span class = 'middle-name'>{{site.middle-name}}</span></span><span class = 'last-name'>{{site.last-name}}</span>
      </a>
      </div>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
    </div>
  </div>
</header>
