<div class = "front" id = "top">
  <!-- <div class = "bg-img">
  </div> -->
  <div class = "intro-wrapper">
    <div class = "intro">
      <div class = "headline">
        <h1>persuasion<span class = "de-emph-headline">o</span>><span class = "de-emph-headline">er</span><br />persistence.<h1>
      </div>
      <p>Hello, I'm Ganesh and I design digital products that embody <span class = "key-term">clarity</span>, <span class = "key-term">efficiency</span>, and <span class = "key-term">intrigue</span>. <span class = "baby-hide">I believe that a fantastic UX is mainly through a persuasive push-and-pull of information.</span></p>
      <div class = "typed"></div>
      <a class = "primary-button intro-button" href ="#work">View work</a>
      <a class = "secondary-button intro-button" href ="{{ site.url }}/GaneshResume.pdf" target = "_blank"><i class="fa fa-file-pdf-o button-fa"></i> View Resume</a>
    </div>
  </div>
</div>
