<div class = "projects-wrap">
  <div class = "projects" id = "work">
      <h1 class = "section-header">Selected Work</h1>
    <ul>
      <li>
        <div id = "project-sap" class = "project">
          <div class = "project-img">
            <img src = "../img/sap-pe.png">
          </div>
          <div class = "project-text">
            <h2>SAP - Project Execution</h2>
            <p>
              <span class = "baby-hide-text">Before my graduate studies at Berkeley, I was a User Experience Design Associate at SAP Labs working out of their Bangalore office.</span> I helped ship various SAP enterprise products chief among them being HCM applications and SAP Project Execution. The latter is a product that helps a project manager monitor scheduling, revenue and logistics for a project.
            </p>
            <a class = "secondary-button project-button" href ="{{ site.url }}/projects/sap-pe.html">View project</a>
          </div>
        </div>
      </li>
      <li>
        <div id = "project-pippop" class = "project">
          <div class = "project-img">
            <img src = "../img/pippop.png">
          </div>
          <div class = "project-text">
            <h2>PipPop - Exchanging contact information seamlessly</h2>
            <p>
              This project was where my team of 4 took a very grounded UX-research driven approach to designing an interface that helps users exchange contact information in social settings like meetups or career fairs. <span class = "baby-hide-text">In the span of 4 months, we performed research, laid out UX guidelines and iteratively prototyped and tested the proof-of-concept at various fidelities.</span>
            </p>
            <a class = "secondary-button project-button" href ="{{ site.url }}/projects/pippop.html">View project</a>
          </div>
        </div>
      </li>
      <li>
        <div id = "project-tennis" class = "project">
          <div class = "project-img">
            <img src = "../img/tennis.png">
          </div>
          <div class = "project-text">
            <h2>Visualizing Betting v Performances in Tennis</h2>
            <p>
              In this intense 2-week project, my team designed and prototyped a proof-of-concept for a visualization that allows for comparison between how male tennis players <em>performed </em> on the court and how they were <em>expected to perform</em>. <span class = "baby-hide-text">We performed tasks like data cleanup, wireframing, front-end web development and also evaluated the finer visual aspects with users to test our assumptions.</span>
            </p>
            <a href = "{{ site.baseurl }}/projects/tennis.html" class = "secondary-button project-button" href ="{{ site.url }}/projects/tennis.html">View project</a>
          </div>
        </div>
      </li>
      <li>
        <div id = "project-geometris" class = "project">
          <div class = "project-img">
            <img src = "../img/geometris.png">
          </div>
          <div class = "project-text">
            <h2>Geometris - Creating an embodied and collaborative game for children</h2>
            <p>Keeping elementary school children in mind, we attempted to design a different experience of mathematics, one that requires children to use their bodies and to talk to each other in learning basic geometry. <span class = "baby-hide-text">This project is special to me because of so many firsts - designing for a physical experience using Arduino, coding the software for a game end-to-end, composing its music among many others!</span>
            </p>
            <a class = "secondary-button project-button" href ="{{ site.url }}/projects/geometris.html">View project</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
