#logo{
  font-family: $logo;
  text-transform: lowercase;
}

#logo a:hover{
  text-decoration: none;
  border: none;
}
.blue-bg{
  // background-color: $navy-blue;
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#0a202f;
  background-size:16px 16px;
  height: 120px;
  padding: 25px 0 25px 0;
}
.first-name{
  color: #FFFFFF;
  font-weight: 700;
  font-size: $h-logo;
}
.middle-name{
  color: $red;
  font-weight: 400;
  font-size: $h-logo;
}
.last-name{
  color: $light-blue;
  font-weight: 300;
  font-size: $h-logo;
}
.big-and-bold{
  font-size: $h1;
  font-weight: 600;
}
.post-header{
  text-align: center;
}
.headline{
  font-size: $h3;
  color: $navy-blue;
  text-align: center;
}
.headline-emph{
  font-weight: 600;
  font-style: italic;
}
.sub-headline{
  font-weight: 300;
  font-size: $h4;
}
.sub-headline-emph{
  font-weight: 500;
  font-size: $h4;
}
hr{
  border: 1px $light-blue dotted;
  opacity: 0.25;
}
.page-heading{
  font-size: $h3;
  text-transform: uppercase;
  color: $red;
  text-align: center;
}
.main-body{
  margin-top: $space-3;
}
.post-list li{
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.post-list{
  margin: 0;
  padding: 0;
}
.current-projects {
  text-align: center;
}
.footer-logo{
  background-image: image('logo.png') no-repeat;
}
.underlined-link{
  color: $light-blue;
  border-bottom: 1px $light-blue dotted;
}
.no-underline{
  border: none;
}
.underlined-link:hover{
  color: $red;
  border-bottom: 1px $red dotted;
}
.link-emph{
  color: $light-blue;
}
.link-emph:hover{
  color: $red;
}
.course-list{
  margin-top:20px;
}
ul.selected-projects {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
  -webkit-padding-start: 0px;
}
ul.selected-projects li {
	display: inline-block;
  padding-bottom: 0px;
	padding: 5px;
	margin: 0 0 2.5% 2.5%;
	// background: #fff;
	// border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #bbb;
	box-sizing: border-box;
  border-radius: 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.selected-projects li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 0px;
  opacity: 0.9;
}
ul.selected-projects li img:hover{
  opacity: 0.25;
}

ul.selected-projects li h3 {
	margin: 0 0 5px;
}
ul.selected-projects li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}
/* class for 2 columns */
ul.selected-projects.columns-1 li {
	width: 97.5%; /* this value + 2.5 should = 100% */
}
ul.selected-projects.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.selected-projects.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.selected-projects.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}

@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.selected-projects {
		margin-left: 0;
	}
	ul.selected-projects li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}
.blurb{
  text-align:center;
  width: 80%;
  margin: 0 auto;
}
.project-image{
  position: relative;
  width: 100%; /* for IE 6 */
  text-align: left;
}
h3.project-text{
  position: absolute;
  top: 10px;
  left: 0px;
  color: $red;
  //letter-spacing: -1px;
  background: rgb(255, 255, 255); /* fallback color */
  background: rgba(255, 255, 255, 0.8);
  // border: #999999;
  padding: 10px;
}
.figure-description{
  color: $mid-gray;
  font-size: $h6;
}
.photo{
  width: 30%;
  margin: 0 auto;
  border-radius: 60%;
}
.key-insight{
  font-size: $h4;
  color: $navy-blue;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
h3.key-insight{
  font-size: $h3;
  margin-bottom: 10px;
}
